{% extends "notes.html" %}

{% block title %}Create note{% endblock %}

{% block note_content %}
    <div class="page-header">
        <h1>Create note</h1>
    </div>
    <form class="note-form" action="{{ url_for('create_note') }}" method="POST">
        <input type="text" name="note_title" value="" placeholder="Note title..." autofocus="autofocus" />
        <label class="checkbox">
            Format as markdown <input type="checkbox" name="markdown" checked="checked" />
        </label>
        <label class="checkbox">
            Make this note public <input type="checkbox" name="public" />
        </label>
        <textarea name="note_text" placeholder="Write your note here..." ></textarea>

        <input type="hidden" id="target_state" name="target_state" value="" />

        <div class="btn-group">
            <a class="btn save-note" href="#" data-target-state="read">
                <i class="icon-eye-open"></i> Save and read
            </a>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="save-note" href="#" data-target-state="edit">
                        <i class="icon-pencil"></i> Save and edit
                    </a>
                </li>
            </ul>
        </div><!-- /btn-group -->
    </form>
{% endblock %}
