{% extends "notes.html" %}
{% block title %}{{page_title}} {{note.title}}{% endblock %}
{% block note_content %}
    <div class="page-header">
        <h1>{{page_title}}</h1>
    </div>
    <form class="note-form" action="{{ url_for('edit_note', note_id=note.id) }}" method="POST">
        <label>Note title</label>
        <input type="text" name="note_title" value="{{note.title}}"/>

        <label>Contents</label>
        <textarea name="note_text">{{note.text}}</textarea>

        <input type="hidden" id="target_state" name="target_state" value="" />

        <div class="btn-group">
            <a class="btn save-note" href="#" data-target-state="read">
                <i class="icon-eye-open"></i>
                Save and read
            </a>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="save-note" href="#" data-target-state="edit">
                        <i class="icon-pencil"></i>
                        Save
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-refresh"></i>
                        Discard changes
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{url_for('delete_note', note_id=note.id)}}">
                        <i class="icon-trash"></i>
                        Delete
                    </a>
                </li>
            </ul>
        </div><!-- /btn-group -->
    </form>
{% endblock %}
