{% extends "layout.html" %}
{% set active_page = "files" %}

{% block title %}Files{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Files</h1>
    </div>
    <h2>New file</h2>
    <form enctype="multipart/form-data" action="{{ url_for('upload_file') }}" method="POST">
        <input type="file" name="new_file" />
        <input class="btn" type="submit" value="Upload" />
    </form>

    {% if files %}
    <h2>List of files</h2>

    <table class="table table-hover table-condensed">
        {% for file in files %}
        <tr>
            <td><a href="{{url_for('raw_file', filename=file)}}">{{file}}</a></td>
            <td style="width: 10px;"><a href="{{url_for('delete_file', filename=file)}}"><i class="icon-trash"></i></a></td>
        </tr>
        {% endfor %}
    </table>

    {% endif %}

{% endblock %}
